{% extends "base.html" %}



{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'chat:index' %}">Групповой чат</a>
</div>
{% endblock %}



{% block content %}
{% block content_title %}{% endblock %}

    <script>
        var $ = django.jQuery;

        $(function () {
            $(document).ready(function() {
                function scrollBottom() {
                    $("html, body").animate({ scrollTop: $(document).height()-$(window).height()  }, "slow");
                }

                scrollBottom();
                var messageTable = $('#messages'),
                    messageForm = $('#message-form');
                socket = new WebSocket("ws://" + window.location.host + "/chat/stream/");
                socket.onmessage = function(e) {
                    var data = JSON.parse(e.data);
                    var messageRow = $(
                            "<li>" +
                                "<span><b>" + data.username + "</b> " + data.created + "</span>" +
                                "<p>" + data.message + "</p>" +
                            "</li>"
                    );
                    messageTable.append(messageRow);
                    scrollBottom();
                };

                messageForm.on("submit", function () {
                    socket.send(messageForm.find('textarea').val());
                    messageForm.find('textarea').val("");
                    return false;
                });
                socket.onopen = function () {
                    console.log("Connected to chat socket");
                };
                socket.onclose = function () {
                    console.log("Disconnected from chat socket");
                };
                if (socket.readyState == WebSocket.OPEN) socket.onopen();
            });
        });
    </script>
    <h1 style="text-align: center">Групповой чат</h1>
    <ul class="message-list" id="messages">
        {% for item in object_list %}
            <li>
                <span><b>{{ item.author }}</b> {{ item.created|time:"H:i" }}</span>
                <p>{{ item.message|safe }}</p>
            </li>
        {% endfor %}
    </ul>
    <br><br>
    <form id="message-form">
        <textarea></textarea>
        <input type="submit" value="Отправить">
    </form>

{% endblock %}
