{% extends "base.html" %}



{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'private_messages:index' %}">Все приватные сообщения</a>
</div>
{% endblock %}



{% block content %}
{% block content_title %}{% endblock %}
    <h1 style="text-align: center">Приватные сообщения. Выберите собеседника</h1>
    <p style="text-align: center">
        {% for item in user_list %}
            <span><a href="{% url 'private_messages:private' recipient=item.user.pk %}"><b>{{ item.user.first_name }} {{ item.user.last_name }}</b></a> ({{ item.messages_count }} сообщений)</span><br><br>
        {% endfor %}
    </p>
    <br><br>
{% endblock %}
