{% extends "base.html" %}



{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="">Приватные сообщения</a>
</div>
{% endblock %}


{% block content %}
{% block content_title %}{% endblock %}
    <script>
        var $ = django.jQuery;
        $(function () {
            $(document).ready(function() {
                $("html, body").animate({ scrollTop: $(document).height()-$(window).height()  }, "slow");
            });
        });
    </script>

    <h1 style="text-align: center">Приватные сообщения c <b>{{ recipient.first_name }} {{ recipient.last_name }}</b></h1>
    <p style="text-align: center;" class="warning">Внимание, на данной странице не просиходит автоматического обновления содержания</p>
    <ul class="message-list" id="messages">
        {% for item in message_list %}
            <li>
                <span>
                    {{item.pk}}
                    {% ifequal request.user.pk item.owner.pk %}
                        <b>Вы</b>
                    {% else %}
                        <b>{{ item.author }}</b>
                    {% endifequal %}
                    {{ item.created|time:"H:i" }}
                </span>
                <p>{{ item.message }}</p>
            </li>
        {% endfor %}
    </ul>
    <br><br>
    <form id="message-form" method="POST" action=".">
        <textarea name="message" required></textarea>
        <input type="submit" value="Отправить">
    </form>
    <br><br>
{% endblock %}
