{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block title %}{% endblock %}

{% block branding %}<h1>Лабораторная работа №6. XSS</h1>{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">
    {{ admin_media }}
{% endblock %}



{% block usertools %}
    {% if request.user.is_authenticated %}
    <div id="user-tools">
        <span>Вы вошли как <b id="email">{{ request.user.email }}</b>. </span>
        {% block userlinks %}
            <a href="{% url 'private_messages:index' %}">Приватные сообщения</a> /
            <a href="{% url 'chat:index' %}"><b>Групповой чат</b></a> /
            <a href="{% url 'logout' %}">Выйти</a>
        {% endblock %}
    </div>
    {% endif %}
{% endblock %}


<div id="content-main">
{% block content %}

{% endblock %}
</div>
