#col-message {
    text-align: right;
    width: 400px;
}

ul.message-list {
    width: 50%;
    margin: 0 auto;
    list-style: none !important;
}

ul.message-list li {
    list-style-type: none !important;
    padding-bottom: 10px;
}
ul.message-list span {
    display: block;
    position: relative;
    margin-bottom: 4px;
}

#message-form {
    margin: 0 auto;
    padding-left: 40px;
    width: 50%;
}
#message-form textarea {
    width: 350px;
    height: 100px;
}

label {
    width: 200px;
    display: block;
}

.registration {
    margin: 0 auto;
    width: 50%;
}

.registration .helptext {
    position: relative;
    float: left;
    color: dimgray;
    font-size: 10px;
}

.warning {
    color: goldenrod;
}