{% extends "base.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'login' %}">Вход</a>
</div>
{% endblock %}



{% block content %}
    <form class="registration" action="." method="POST">
        {{ form.as_p }}
        <input type="hidden" name="next" value="{% url 'chat:index' %}">
        {% csrf_token %}
        <input type="submit" value="Войти">
        <a href="{% url 'registration' %}">Зарегистрироваться</a>
    </form>
{% endblock %}
