{% extends "base.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'registration' %}">Быстрая регистрация</a>
</div>
{% endblock %}

{% block content %}
    <form class="registration" action="." method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Зарегистрироваться">
        <a href="{% url 'login' %}">Войти на сайт</a>
    </form>
{% endblock %}
